.info {
  margin-top: 120px;
}

.info__container {
  display: flex;
  flex-direction: column;
}

.info__title {
  font-size: 32px;
  font-weight: 700;
  letter-spacing: -1.5px;
  line-height: 1.1;
}

.info__content {
  margin-top: 32px;
}

.info__list {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.info__list-item {
  font-size: 16px;
  font-weight: 700;
  line-height: 1.4;
}

.info__text {
  margin-top: 40px;
  font-size: 16px;
  line-height: 1.7;
}