:root {
--bg-color: #fff;
  --text-main: #08060d;
  --text-muted: #6b6375;
  
  --sans: "Inter", system-ui, -apple-system, sans-serif;
  --heading: "Inter", system-ui, -apple-system, sans-serif;

  font: 18px/145% var(--sans);
  letter-spacing: 0.18px;
  color: var(--text-main);
  background: var(--bg-color);
  
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  @media (max-width: 1024px) {
    font-size: 16px;
  }
}

body {
  margin: 0;
  font-family: "Inter", sans-serif;
}

p {
  margin: 0;
}

*, *::before, *::after {
  box-sizing: border-box;
}

#root {
  min-height: 100svh;
  display: flex;
  flex-direction: column;
}

.container {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding-inline: 20px;
}

h1, h2, h3, h4, h5, h6 {
  font-family: var(--heading);
  color: var(--text-main);
  margin: 0;
}


ul, ol {
  margin: 0;
  padding: 0;
  list-style: none; 
}
